---
import Layout from "../layouts/Layout.astro";
import { app } from "../firebase/server";
import { getFirestore } from "firebase-admin/firestore";

interface Termino {
	nombre: string;
	palabras: string[];
	definicion: string;
	area: string;
	etimologia: string;
	año: string;
	id: string;
	fecha: number;
}

const db = getFirestore(app);
const terminoRef = db.collection("terminos");

const terminosSnapshot = await terminoRef.get();
const terminos = terminosSnapshot.docs.map((doc) => ({
	id: doc.id,
	...doc.data(),
})) as Termino[];
---

<Layout title="Glosario Informatica">
	<div class="">
		<h1 class="mt-4 text-5xl text-center text-gray-200 font-bold">
			Glosario Informatica
		</h1>
		<div class="grid grid-cols-2 md:grid-cols-4 gap-8 mt-4 px-3">
			{
				terminos.map((termino) => (
					<div class="fondo relative transition-all duration-[.3s] max-md:h-44 max-md:mb-10 h-28    ease-in-out">
						<div class="max-w-sm p-2 cursor-pointer   bg-white/10 max-md:h-full  md:h-[125px]  place-content-center border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
							<h5 class="mb-2 text-lg font-bold tracking-tight text-gray-200">{`${termino.nombre} (${termino.fecha})`}</h5>
							<p class="font-normal text-xs text-gray-400">
								{termino.definicion}
							</p>
						</div>
						<div class="etimologia opacity-0 max-w-sm  cursor-pointer md:px-4    place-content-center">
							<h5 class="font-normal text-sm text-center text-gray-50">
								{termino.etimologia}
							</h5>
						</div>
					</div>
				))
			}
		</div>
	</div>
</Layout>
<style>
	.fondo:hover {
		transform: perspective(450px) rotateX(40deg) translateY(-25%)
			translateZ(0);
	}
	.etimologia {
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}

	.fondo::before {
		border-radius: 100%;
		content: "";
		position: absolute;
		bottom: 0;
		height: 100%;
		width: 100%;
		background-image: linear-gradient(to bottom, transparent 80%);
		opacity: 0;
		transition: all 0.3s ease;
	}

	.fondo:hover::before {
		opacity: 1;
	}

	.fondo:hover .etimologia {
		opacity: 1;
		transform: translateY(10%);
	}
</style>
