---
interface Props {
	title: string;
	url_canonical?: string;
	og_title?: string;
	og_descrip?: string;
	og_img?: string;
	og_img_alt?: string;
}

const { title, url_canonical, og_title, og_descrip, og_img, og_img_alt } =
	Astro.props;
---

<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta name="description" content={og_descrip} />
		<meta name="viewport" content="width=device-width" />

		<!-- GetResponse Analytics -->

		<!-- End GetResponse Analytics -->
	</head>
	<body class="bg-customgradient"><slot /> </body>

	<style is:global>
		@font-face {
			font-family: "notche";
			src: url("/public/notchebold.otf") format("opentype");
			font-weight: bold;
			font-style: normal;
			font-display: swap;
		}
		@font-face {
			font-family: "notche";
			src: url("/public/notcheregular.otf") format("opentype");
			font-weight: normal;
			font-style: normal;
			font-display: swap;
		}

		:root {
			.cNZMoQ {
				display: none !important;
			}
		}
		.cNZMoQ {
			display: none !important;
		}
		a {
			text-decoration: none;
		}
		/*
  1. Use a more-intuitive box-sizing model.
*/
		*,
		*::before,
		*::after {
			box-sizing: border-box;
		}
		/*
  2. Remove default margin
*/
		* {
			margin: 0;
		}
		/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
		body {
			line-height: 1.5;
			-webkit-font-smoothing: antialiased;
			font-family: "notche", cursive;
		}
		/*
  5. Improve media defaults
*/
		img,
		picture,
		video,
		canvas,
		svg {
			display: block;
			max-width: 100%;
		}
		/*
  6. Remove built-in form typography styles
*/
		input,
		button,
		textarea,
		select {
			font: inherit;
		}
		/*
  7. Avoid text overflows
*/

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			overflow-wrap: break-word;
			word-wrap: break-word;
			font-weight: bold;
		}
		p {
			overflow-wrap: break-word;
			word-wrap: break-word;
			font-weight: normal;
		}
		/*
  8. Create a root stacking context
*/
		#root,
		#__next {
			isolation: isolate;
		}
		html {
			scroll-behavior: smooth;
		}
		body {
			position: relative;
			overflow-x: hidden;
		}
	</style>
</html>
